P{
    text-align: justify;
    font-size: 20px;
    color:white;
}
h1,h4,h3{
    color:white;
}

body,html {
    scroll-behavior: smooth;
    height:100%;
    margin: o;
   }
   
   a {
    text-decoration: none;
    color: black;
   } 

   #about{
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 25px; 
    margin-top: 50px;
   }
   #brand {
    margin-bottom: 15%;
   } 
   #info{
       padding-top: 20px;
       padding-bottom: 80px;
   }
   #cards{
       margin:20px;
   }
   #cardsB{
       background-color: gray;
   }

.bg{
    background-color:rgb(49, 29, 29);
    border-color: black;
    border-style: solid;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}