P{
    text-align: justify;
    font-size: 20px;
    color: white;
}
h1,h4,h3{
    color:white;
}

body,html {
    scroll-behavior: smooth;
    height:100%;
    margin: o;
   }
   
   a {
    text-decoration: none;
    color: black;
   } 

   #about{
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 25%;
    padding-bottom: 10%; 
   }
   #brand {
    margin-top: 50%;
    padding-bottom: 25%;
   } 
   #contact {
    margin-top: 40%;
   } 
   #info{
       padding-top: 20px;
       padding-bottom: 50px;
   }
   #cards{
       padding: 20px;
   }
   .bg{
       background-image: url("/assets/images/background.jpg");
   }
